@model NSE.WebApp.MVC.Models.ErrorViewModel

@{ 
    ViewData["Title"] = "Ocorreu um erro";
}

@{ 
    //Estou fazendo um tratamento. Se a (Model o Model, ErrorViewModel) for nula. Passo esta mensagem genérica.
    if (Model == null)
    {
        <div>
            <h2>Ooops! Ocorreu um erro, mas não se preocupe. Nosso time será avisado e iremos corrigir em breve!</h2>
        </div>
    }
    else
    {
        ViewData["Title"] = Model.Titulo;
        <div>
            <h2>@Html.Raw(Model.Mensagem)</h2>
        </div>
    }
}